{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  <ul>
    <li><a href="/page1">That thing we do</a></li>
    <li><a href="/page2">The other thing</a></li>
  </ul>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.</p>

<p>The source code is available on github at <a href="https://github.com/ucsd-cse-spis-2020/spis20-oauth-github-org-example">here</a></p>

<p>This is provided for participants in <a href="https://github.com/ucsd-cse-spis-2020">UCSD CSE SPIS 2020.</p>


{% endblock %}
