<nav class="navbar navbar-expand-sm navbar-light bg-light">
  
  <!-- BLOCK 2 --> 
  <!-- Brand and toggle button get grouped for better mobile display -->
  <a class="navbar-brand" href="/">Home</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <!-- BLOCK 3 -->
    <!-- Replace the '#' with links to each of your converters -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/page1" class="nav-link">Page 1</a>
      </li>
      <li class="nav-item">
        <a href="/page2" class="nav-link">Page 2</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      {% if logged_in %}
        <li>
          <p class="navbar-text">{{ session['user_data']['name']}}</p>
        </li>
        <li>
          <p class="navbar-text"> Github userid: {{ session['user_data']['login']}}</p>
        </li>
      {% endif %}
      <li>
        {% if logged_in %}
          <a href="/logout" class="nav-link">Logout</a>
        {% else %}
          <a href="/login" class="nav-link">Login</a>
        {% endif %}
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>